* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 100%;
    background: #F1F1F1;
    overflow: hidden;
}

*, html {
    --primaryGradient: linear-gradient(93.12deg, #1b9821 0.52%, #1b9821 100%);
    --secondaryGradient: linear-gradient(268.91deg, #1b9821 -2.14%, #1b9821 99.69%);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --primary: #1b9821;
}

/* CHATBOX
=============== */
.chatbox {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

/* CONTENT IS CLOSE */
.chatbox__support {
    display: flex;
    flex-direction: column;
    background: #eee;
    width: 300px;
    height: 350px;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
}

/* CONTENT ISOPEN */
.chatbox--active {
    transform: translateY(-40px); 
    z-index: 123456;
    opacity: 1;

}

/* BUTTON */
.chatbox__button {
    text-align: right;
}

.send__button {
    padding: 0px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}


/* HEADER */
.chatbox__header {
    position: sticky;
    top: 0;
    background: orange;
}

/* MESSAGES */
.chatbox__messages {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.messages__item {
    background: orange;
    max-width: 60.6%;
    width: fit-content;
}

.messages__item--operator {
    margin-left: auto;
}

.messages__item--visitor {
    margin-right: auto;
}

/* FOOTER */
.chatbox__footer {
    position: sticky;
    bottom: 0;
}

.chatbox__support {
    background: #f9f9f9;
    height: 450px;
    width: 350px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* HEADER */
.chatbox__header {
    background: var(--primaryGradient);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: var(--primaryBoxShadow);
}

.chatbox__image--header {
    margin-right: 10px;
}


.chatbox__heading--header {
    font-size: 1.2rem;
    color: white;
}

.chatbox__description--header {
    font-size: .9rem;
    color: white;
}

/* Messages */
.chatbox__messages {
    padding: 0 20px;
}

.messages__item {
    margin-top: 10px;
    background: #E0E0E0;
    padding: 8px 12px;
    max-width: 70%;
}

.messages__item--visitor,
.messages__item--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.messages__item--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--primary);
    color: white;
}

/* FOOTER */
.chatbox__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background: var(--secondaryGradient);
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 20px;
}

.chatbox__footer input {
    width: 80%;
    border: none;
    padding: 10px 10px;
    border-radius: 30px;
    text-align: left;
}

.chatbox__send--footer {
    color: white;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
    padding: 10px;
    background: white;
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;

}
body{
    overflow-x: hidden;   
}

.main-width{
    width: 1280px;
    max-width: 95%;
    margin:0 auto;
    padding: 0px 20px; 
}
.hero{
    width: 100%;
    height:100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(./images/slider_image1.png);
    background-size: cover;
    background-position: center;

}
header{
    padding: 40px 0 30px;
    display:flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.logo i{
    height: 55px;
    width: 55px;
    background: transparent;
    border: 2px solid #2ecc71;
    border-radius: 50%;
    color:#2ecc71; 
    display: inline-flex;
    align-items:center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}

nav .hamb{
    width: 35px;
    height: 24px;
    right: 3%;
    top:60px;
    z-index:5;
    background:white;
    position: absolute;
    cursor: pointer;
    display:none;
}

nav .hamb span{
    display:block;
    background:#2ecc71 ;
    width:100%;
    height:3px;
    transition: .3s;
    transition-property: transform,opacity;
}

nav .hamb span:nth-child(2){
    margin:7px 0px;
}
nav .nav-list{
    list-style: none;
    
}
nav .nav-list li{ 
    display:inline-block;

}

nav .nav-list li a{
    display: inline-block;
    color:#eee;
    margin-left:55px;
    font-size: 15px ;
    font-weight: 600;

}
nav .nav-list li a:not(last-child)a:hover{
    color:#2ecc71;
    transition: .4s;
}
nav .nav-list li.btn a{
    display:inline-block;
    background:transparent;
    border:2px solid #2ecc71;
    padding: 9px 28px;
    border-radius: 30px;
    line-height:1.3 ;
    color:#2ecc71;
    font-weight: 500;
}
nav .nav-list li.btn:hover a{
    background: #2ecc71;
    color:white;
    border:2px solid transparent;
    transition: .4s;
}

.container{
    padding-top: 150px; ;
}
.container .hero-text{
    margin-bottom:0px;
}
.container .hero-text h1{
    color:white;
    font-size: 47px;    
    font-weight: 900;
    line-height:1.2;
    margin:0px 0px 20px;
}

span{
    color:#2ecc71
}
.container .hero-text h3{
    color:white;
    font-size:400;
    font-size: 17px;

}

.container .hero-text p{
    width: 440px;
    max-width:100%; 
    color:white;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom:30px;
}


@media screen and (max-width:930px){
    .nav .hamb{
        display: initial;
    }
    .click{
        top: 46px;
    }
    .click .span{
        position:absolute;
        margin-top: 12px;
    }
    .click span:first-child{
        transform: rotate(-40deg);
    }
    .click span:nth-child(2){
        opacity:0;
        margin:0;
    }
    .click span:last-child{
        transform: roate(40deg);
        top:0;
    }
    nav .nav-list{
        position: absolute;
        top:90px;
        right:-65%px;
        bottom:0;
        width:60%;
        height: 50%;
        background:black;
        z-index: 2;
        padding: 6% 9%;
        transition: .3s right;
        border-radius: 10px;
    }
    nav.nav-list li{
        display:block;

    }
    nav .nav-list li a{
        display:block;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 40px;
    }
    nav .nav-list li.btn a{
        position: absolute;
        bottom: 0%;
        right: 20%;
        left:20%;
        padding: 7px 15px;
        font-size: 14px;

    }
    nav .nav-list.open{
        right:0;
    }

}
.button{
    padding: 10px;
    background: none;
    border-radius: 5px;
    border: 1px solid #2ecc71;
}
.button a{
    text-decoration: none;
    color: #2ecc71;
}
.button a:hover{
    text-decoration: none;
    color: #2ecc71;
}



